/* custom alert */
.alert-danger {
  background: #d9534f;
  color: #fff;
  border: none;
}

.alert-success {
  background: #5cb85c;
  color: #fff;
  border: none;
}

/* custom-loading */
.loading-container {
  background: #f0f0f0;
}

.loading-screen {
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.9);
  z-index: 9999;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* custom navbar */
.nav-logo {
  font-weight: 500;
  letter-spacing: 6px;
}

.nav-link-btn {
  margin-top: -6px;
}

.nav-link-btn.btn-primary {
  border: 2px solid #1a1a1a;
}

.nav-avatar {
  height: 40px;
  width: 40px;
  margin-top: -10px;
}

#nav-dropdown::after {
  display: none;
}

.nav-name-content {
  margin-bottom: 2px;
}

/* main container */
.container-mt {
  margin-top: 10em;
}

/* home page - hero */
.hero-bg {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('./assets/landing-bg.jpg') no-repeat;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  position: relative;
}

.hero-content {
  position: absolute;
  max-width: 768px;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.hero-content h1,
.hero-content p {
  color: #ffffff;
}

.hero-btn-group {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* profile custom ui */
.profile-bg {
  padding-top: 12em;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url('./assets/landing-bg.jpg') no-repeat;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 775px;
  position: relative;
}

.profile-container {
  position: relative;
}

.profile-subdetails {
  display: flex;
  justify-content: center;
}

.profile-subdetails .text-inline {
  display: inline;
  text-align: center;
  margin-right: 16px;
}

.profile-bio {
  margin: auto;
  width: 700px;
  display: flex;
  justify-content: center;
}

.profile-skills {
  margin: auto;
  width: 700px;
}

.profile-edit-btn {
  position: absolute;
  right: 0;
}

.profile-details-nav {
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.nav-active {
  padding-bottom: 12px;
  border-bottom: 2px solid #1a1a1a;
}

.profile-details-subdetails {
  display: flex;
}

.profile-details-subdetails .text-inline {
  display: inline;
  text-align: center;
  margin-right: 16px;
}

.profile-details-socials {
  display: flex;
  align-items: center;
}

.profile-details-socials .text-inline {
  display: inline;
}

/* custom write a post ui */
.write-post-btn {
  font-size: 16px;
  margin-top: -60px;
}

.publish-post-btn {
  margin-top: -90px;
}

.post-title-textarea {
  resize: unset;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 2rem;
  font-weight: 600;
}

.post-title-textarea:focus {
  border: none !important;
  box-shadow: none !important;
}

.tox-tinymce {
  border: none !important;
}

.tox-editor-header {
  border: 1px solid #ccc !important;
}

.tox-statusbar {
  border: 1px solid #ccc !important;
}

.tox .tox-edit-area__iframe {
  color: #55595c;
  background-color: #f7f7f9 !important;
  background-clip: padding-box;
  border: none !important;
  border-radius: 0;
  font-family: 'Josefin Sans', sans-serif;
  line-height: 1.4;
}

/* custom dashboard ui */
.post-card-block {
  height: 275px;
  overflow: hidden;
}

.post-card-thumbnail {
  cursor: pointer;
  background: rgb(245, 245, 245);
  height: 275px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.post-card-thumbnail img {
  width: 100%;
  height: 100%;
  border-right: 1px solid #ccc;
}

.post-card-thumbnail-2 {
  cursor: pointer;
  background: rgb(245, 245, 245);
  height: 225px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.post-user img {
  height: 30px;
  width: 30px;
}

.post-user p {
  display: inline;
}

/* custom post details */

.post-details-btn-group {
  margin-top: -4px;
}

.post-details-btn-group button {
  font-size: 16px;
}

.post-content img {
  width: 100%;
  height: auto;
  margin: 1rem 0;
}

.post-footer-btn-group button {
  padding: 0px;
  text-align: center;
  text-decoration: none !important;
}

.post-footer-btn-group button:focus {
  box-shadow: none;
}

.post-footer-btn-group button:nth-child(2) {
  height: 20px;
}

/* custom post comment */
.modal-dialog {
  position: fixed !important;
  top: 0 !important;
  right: 0 !important;
  margin: 0px;
}

.modal-content {
  width: 500px;
  height: 100vh;
}

.modal-body {
  overflow-y: auto;
}

#post-more-dropdown {
  position: absolute;
  top: -10px;
  right: -45px;
}

#post-more-dropdown::after {
  display: none;
}
