html,
body {
  height: auto !important;
  width: 100% !important;
}

p {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.btn {
  border-radius: 4px !important;
  font-size: 16px !important;
}

.ant-btn {
  border-radius: 4px !important;
}

.ant-btn-circle.ant-btn-lg {
  border-radius: 50% !important;
}

.lead {
  color: rgba(0, 0, 0, 0.85);
}

/* custom loading */
.loading-screen {
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.9);
  z-index: 9999;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* custom empty list */

/* custom navbar */
nav.fixed-top {
  z-index: 1 !important;
}

.nav-logo {
  font-weight: normal;
  letter-spacing: 4px;
  font-weight: 700;
}

.nav-link-btn {
  margin-top: -6px;
}

.nav-link-icon {
  font-size: 16px;
  margin: 0 0.3em;
}

.input-group {
  border: 1px solid rgba(0, 0, 0, 0.1) !important;
  border-radius: 4px !important;
}

.input-group-text {
  background: none;
  border: none !important;
  padding: 0px 16px;
}

.input-search {
  border: none !important;
  width: 150px !important;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

.input-search:focus {
  width: 325px !important;
}

.nav-avatar {
  height: 35px;
  width: 35px;
  margin-top: -16px;
  margin-bottom: -10px;
}

.nav-dropdown .dropdown-menu {
  left: -150px !important;
}

#nav-dropdown::after {
  display: none;
}

.nav-name-content {
  margin-bottom: 2px;
}

/* main container */
.container-mt {
  margin-top: 5.5em;
}

/* home page - hero */
.hero-bg {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url('https://images.unsplash.com/photo-1617042375876-a13e36732a04?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80')
      no-repeat;
  background-size: 100% 100%;
  background-position: 10% 85%;
  background-size: cover;
  height: 100vh;
  position: relative;
}

.hero-content {
  position: absolute;
  max-width: 768px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.hero-content h1,
.hero-content p {
  color: #ffffff;
}

.hero-btn-group {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* profile custom ui */
.profile-container {
  padding: 80px 0px 0px;
}

.profile-status {
  position: absolute;
  right: 10%;
  bottom: 70%;
}

.profile-subdetails {
  display: flex;
  justify-content: center;
}

.post-profile-subdetails {
  display: flex;
  justify-content: center;
}

.profile-subdetails .text-inline {
  display: inline;
  text-align: center;
  margin-right: 16px;
}

.profile-bio {
  margin: auto;
  width: 700px;
  display: flex;
  justify-content: center;
}

.profile-skills {
  margin: auto;
  width: 700px;
}

.profile-edit-btn {
  position: absolute;
  left: 87%;
}

.profile-details-nav {
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.nav-active {
  padding-bottom: 12px;
  border-bottom: 2px solid #4582ec;
}

.profile-details-subdetails {
  display: flex;
}

.profile-details-subdetails .text-inline {
  display: inline;
  text-align: center;
  margin-right: 16px;
}

.profile-details-socials {
  display: flex;
  align-items: center;
}

.profile-details-socials .text-inline {
  display: inline;
}

/* custom edit profile */
.input-group-label {
  font-size: 16px;
  line-height: 0;
  margin-top: 0;
  margin-bottom: 0;
}

/* custom write a post ui */
.write-post-btn {
  margin-top: -58px;
}

.publish-post-btn {
  margin-top: -80px;
}

.img-crop-modal .img-crop-container {
  height: 50vh !important;
}

.edit-post-btn {
  margin-top: -155px;
}

/* custom dashboard ui */
.post-card-block {
  height: 275px;
  overflow: hidden;
}

.post-card-thumbnail {
  cursor: pointer;
  background: rgb(245, 245, 245);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.post-card-thumbnail img {
  width: 100%;
}

.post-content {
  white-space: pre-wrap;
}

.post-user img {
  height: 40px;
  width: 40px;
}

.post-user p {
  display: inline;
}

.post-user-dropdown .dropdown-toggle::after {
  display: none !important;
}

.ant-modal-content {
  border-radius: 4px !important;
}

.ant-carousel .slick-prev,
.ant-carousel .slick-next {
  color: #fff;
  font-size: 20px;
  z-index: 1;
}

.ant-carousel .slick-prev {
  left: 12px !important;
}

.ant-carousel .slick-next {
  right: 12px !important;
}
