/* custom alert */
.alert-danger {
  background: #d9534f;
  color: #fff;
  border: none;
}

.alert-success {
  background: #5cb85c;
  color: #fff;
  border: none;
}

/* custom-loading */
.loading-container {
  background: #f0f0f0;
}

.loading-screen {
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.9);
  z-index: 9999;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* custom navbar */
.nav-logo {
  font-weight: 350;
  letter-spacing: 6px;
}

.nav-link-btn {
  margin-top: -6px;
}

.nav-link-btn.btn-primary {
  border: 2px solid #1a1a1a;
}

.nav-avatar {
  height: 40px;
  width: 40px;
  margin-top: -10px;
}

#nav-dropdown::after {
  display: none;
}

.nav-name-content {
  margin-bottom: 2px;
}

/* main container */
.container-mt {
  margin-top: 10em;
}

/* home page - hero */
.hero-bg {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('./assets/landing-bg.jpg') no-repeat;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  position: relative;
}

.hero-content {
  position: absolute;
  max-width: 768px;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.hero-content h1,
.hero-content p {
  color: #ffffff;
}

.hero-btn-group {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* profile custom ui */
.profile-bg {
  padding-top: 12em;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url('./assets/landing-bg.jpg') no-repeat;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 775px;
  position: relative;
}

.profile-container {
  position: relative;
}

.profile-subdetails {
  display: flex;
  justify-content: center;
}

.profile-subdetails .text-inline {
  display: inline;
  text-align: center;
  margin-right: 16px;
}

.profile-bio {
  margin: auto;
  width: 700px;
  display: flex;
  justify-content: center;
}

.profile-skills {
  margin: auto;
  width: 700px;
}

.profile-edit-btn {
  position: absolute;
  right: 0;
}

.profile-details-nav {
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.nav-active {
  padding-bottom: 12px;
  border-bottom: 2px solid #1a1a1a;
}

.profile-details-subdetails {
  display: flex;
}

.profile-details-subdetails .text-inline {
  display: inline;
  text-align: center;
  margin-right: 16px;
}

.profile-details-socials {
  display: flex;
  align-items: center;
}

.profile-details-socials .text-inline {
  display: inline;
}
